<h1>User Profile</h1>

<p>Name: {{@model.name}}</p>

{{#if (and @model.isPremium @model.isVerified)}}
  <span class="badge">VIP</span>
{{else}}
  <span class="badge">Standard User</span>
{{/if}}

{{#if (not @model.isVerified )}}
  <p>Status: ✅ Active</p>
{{else}}
  <p>Status: ❌ Inactive</p>
{{/if}}
